.MyMenu {
    position: absolute;
    right: 0;
    top: 28px;
    color: blue
}

.Content {
    display: block;
}

.ImgPage2 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0px 0 40px
}


